<ul class="social">
  <li>
    <a href="https://www.facebook.com/oussamarh02">
      <img src="https://i.ibb.co/x7P24fL/facebook.png" />
    </a>
  </li>
  <li>
    <a href="https://twitter.com/OussamaRhouch1">
      <img src="https://i.ibb.co/Wnxq2Nq/twitter.png" />
    </a>
  </li>

  <li>
    <a href="https://www.instagram.com/oussamarhouch/">
      <img src="https://i.ibb.co/ySwtH4B/instagram.png" />
    </a>
  </li>
</ul>
